
{% extends 'base.html'%}


{% block mystyle %}
    
            *{
                
            }
    
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: large;
            }
    
    
            form{
                box-shadow: 15px 10px 9px lavender;;
                border: 2px solid rgb(39, 36, 36);
                padding: 15px;
            }
    
            .input-group{
                margin: 13px;
            }
    
            input{
                margin-top: 3px;
                width:400px; font-size:14pt;
                height: 30px;
                padding: 3px 13px;
                background-color: rgba(252, 248, 248, 0.801);
            }
    
            input[type=submit]{
                background-color: rgb(20, 128, 61);
                color: white;
                margin: 7px 11px;
                height: 40px;
                width: 432px;
            }
    
            input[type=submit]:hover{
                cursor: pointer;
                background-color:rgb(38, 209, 104);
            }
    
            span{
                font-size: smaller;
                padding: 6px 112px;
                margin: 0px 9px;
            }
    
{% endblock %}

{% block body %}
    
        {% for msg in messages %}
            <h1 style="color: red;">{{msg}}</h1>
        {% endfor %}
    
        <h1 style="text-align: center;">Student Register</h1>
    
        <div class="container">
    
            <form action="" method="POST">   {% csrf_token %}
                <div class="input-group">
                    <label for="f_name">First Name</label><br>
                    <input type="text" name="fname" id="f_name">
                </div>
                
                <div class="input-group">
                    <label for="l_name">Last Name</label><br>
                    <input type="text" name="lname" id="l_name">
                </div>

                <div class="input-group">
                    <label for="u_name">UserName</label><br>
                    <input type="text" name="uname" id="u_name">
                </div>
                
                
                <div class="input-group">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email">
                </div>
                
                <div class="input-group">
                    <label for="pwd">Set Password</label><br>
                    <input type="password" name="pwd1" id="pwd">
                </div>
                
                <div class="input-group">
                    <label for="pwd2">Re-Enter Password</label><br>
                    <input type="password" name="pwd2" id="pwd2">
                </div>
                
                <div class="submit-group">
                    <input type="submit" value="SignUp">
                </div>
                
                <span>Already have a account? <a href="{% url 'login' %}">Login</a></span>
            </form>
        </div>

{% endblock %}